<footer>
            <p>  </p>
            <div class="footer">
                <div class="footer-menuItem">

                    <div class="footer-section about">
                        <h3>About</h3>
                        <p> This is the one stop shop to stream your favourite movies and tv shows. This is Innate.</p>
                        <li class="footer-about"><a href="/">Innate</a></li>
                        <li class="footer-about"><a href="/media/movies-list">Movies</a></li>
                        <li class="footer-about"><a href="/tvshows/tv-shows-list">TV Shows</a></li>

                    </div>
                    <div class="footer-section links">
                        <h3>Social Media</h3>
                        <p>Connect with Us! Follow on facebook, instagram or twitter for what is coming to stream.</p>
                        <a class="footer-link" href="https://www.facebook.com/"><li class="footer-link">Facebook</li></a>
                        <li class="footer-link"><a href="https://www.instagram.com/">Instagram</a></li>
                        <li class="footer-link"><a href="https://twitter.com/?lang=en">Twitter</a></li>
                
                    </div>
                    <div class="footer-section contact">
                        <h3>Contact</h3>
                        <li class="footer-contact">Phone: 905-987-471</li>
                        <li class="footer-contact">Email: innateshows@cinema.com</li>
                        <li class="footer-contact"><a href="">Questions?</a></li>
                    </div>
                </div>

                <div class="footer-bottom">
                    &copy; Innate Inc. | Created by Shivani Kapila | WEB322 Assignment 3-5
                </div>
            </div>
        </footer>