<nav>
<div class="topnav">
        <a class="navbar-brand" href="/">
        <div class="logo-image">
            <img src="/images/INNATE.jpg" class="img-fluid">
        </div></a>
        <a class="active" href="/">Home</a>
        <a href="/media/movies-list">Movies</a>
        <a href="/media/tv-shows-list">TV Shows</a>

    <div class="topnav-right">

        {{#if user}}
            <a href="/user/logout">Logout</a>
        {{else}}
            <a href="/user/login">Login</a>
            <a href="/user/register">Sign Up</a>
        {{/if}}    
        
    </div>  
</div>
</nav>