<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
    <div class="topnav">
        <a class="navbar-brand">
        <div class="logo-image">
            <img src="/images/INNATE.jpg" class="img-fluid">
        </div></a>
        <a class="active" href="/">Home</a>
        <a href="/movies-list">Movies</a>
        <a href="/tvshows-list">TV Shows</a>
    <div class="topnav-right">
            <a href="/sign-in">Login</a>
            <a href="/register">Sign Up</a>
    </div>  
    </div>
    </header>

        <main>
           {{{body}}}
        </main>

        <footer>
            <p>  </p>
            <div class="footer">
                <div class="footer-menuItem">

                    <div class="footer-section about">
                        <h3>About</h3>
                        <p> This is the one stop shop to stream your favourite movies and tv shows. This is Innate.</p>
                        <li class="footer-about"><a href="/">Innate</a></li>
                        <li class="footer-about"><a href="/movies-list">Movies</a></li>
                        <li class="footer-about"><a href="/tvshows-list">TV Shows</a></li>
                    </div>
                    <div class="footer-section links">
                        <h3>Social Media</h3>
                        <p>Connect with Us! Follow on facebook, instagram or twitter for what is coming to stream.</p>
                        <a class="footer-link" href="https://www.facebook.com/"><li class="footer-link">Facebook</li></a>
                        <li class="footer-link"><a href="https://www.instagram.com/">Instagram</a></li>
                        <li class="footer-link"><a href="https://twitter.com/?lang=en">Twitter</a></li>
                
                    </div>
                    <div class="footer-section contact">
                        <h3>Contact</h3>
                        <li class="footer-contact">Phone: 905-987-471</li>
                        <li class="footer-contact">Email: innateshows@cinema.com</li>
                        <li class="footer-contact"><a href="">Questions?</a></li>
                    </div>
                </div>

                <div class="footer-bottom">
                    &copy; Innate Inc. | Created by Shivani Kapila | WEB322 Assignment 1
                </div>
            </div>
        </footer>

        <!-- Loads a browser JS files -->
        <script src="/js/app.js"></script>

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</body>
</html>