<section>
    <div class="dashboard">
        <h1>Thank you for signing up with Innate. Enjoy streaming your favourite tv shows and movies!</h1>

        <a class="stream" href="/">Click here to begin streaming</a>
    </div>
</section>
