<div class="moviePage">

    <div class="movie">
        <div class="movie-menu">
            <p class="movie-main-title">Movies</p>
        </div>

        <div class="movie-container">
            {{#each movies}}
            <div class="movie-box">
                <p class="movie-titles">{{this.title}}</p>
             <div class="movie-image">
                 <a href="/movies-list/{{this.id}}"><img src="{{this.smallPoster}}" alt="" 
                 width="180" height="280"> </a>   
            </div>
            </div>
           {{/each}}
        </div>
    </div>
</div>

