<div class="admin-moviePage">

    <h2>Welcome Administrator: {{user.firstName}} {{user.lastName}}</h2>

    <div class="movie">

        <div id="movie-links-holder">
            <a href="/movies/movies-list-admin">Dashboard</a>
        </div>

        

    </div>
</div>

