<div class="admin-moviePage">

    <h2>Welcome Administrator: {{user.firstName}} {{user.lastName}}</h2>

    <div class="movie-tv-shows">

        <div id="movie-tv-shows-links-holder">
            <a class="movie-tv-shows" href="/media/media-list-admin">Click here to go to the Movies & TV Shows Dashboard</a>

        </div>

        

    </div>
</div>

