<section>
    <div class="dashboard">

        <h1>Hello {{user.firstName}} {{user.lastName}}</h1>
        <h2>Thank you for signing up with Innate. Enjoy streaming your favourite tv shows and movies!</h2>

        <a class="stream" href="/Movies/movies-list">Click here to begin streaming</a>

        
    </div>
</section>
