    <h2 class="add-tv-show">Add a TV Show</h2>
    
    <form class="tv-show-add" method="POST" action="/tvshows/add" enctype="multipart/form-data">

        <label class="title-label">Title</label>
        <input type="text" name="title" id="title"> <br><br>

        <label class="synopsis-label">Synopsis</label>
        <input type="text" name="synopsis" id="synopsis"> <br><br>

        <label class="category-label">Category</label>
        <input type="text" name="category" id="cat"> <br><br>

        <label class="rating-label">Rating</label>
        <input type="text" name="rating" id="rating"> <br><br>

        <label class="purchasePrice-label">Purchase Price</label>
        <input type="text" name="purchasePrice" id="purchasePrice"> <br><br>

        <label class="rentalPrice-label">Rental Price</label>
        <input type="text" name="rentalPrice" id="rentalPrice"> <br><br>

        <label class="type-label">Movie or TV Show</label>
        <select name="type">
            <option value="true">Movie</option>
            <option value="false">TV Show</option>
        </select>
        <br><br>

        <label class="featured-label">Featured?</label>
        <select name="featured">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br><br>

        <label class="small-poster-label">Small Poster Upload</label>
        <input type="file" name="smallPoster" id="smallPoster"> <br><br>

         <label class="large-poster-label">Large Poster Upload</label>
        <input type="file" name="largePoster" id="largePoster"> <br><br>

        <input type="submit" value="Add Tv Show">

    </form>

