    <h2>Add a TV Show</h2>
    
    <form method="POST" action="/movies/add" enctype="multipart/form-data">

        <label>Title</label>
        <input type="text" name="title" id="title"> <br><br>

        <label>Synopsis</label>
        <textarea id="synopsis" name="synopsis"></textarea><br><br>

        <label>Category</label>
        <input type="text" name="category" id="cat"> <br><br>

        <label>TV Show Rating</label>
        <input type="text" name="rating" id="rating"> <br><br>

        <label>Rental Price</label>
        <input type="text" name="rentalPrice" id="rentalPrice"> <br><br>

        <label>Purchase Price</label>
        <input type="text" name="purchasePrice" id="purchasePrice"> <br><br>

        <label>Movie or TV Show</label>
        <select name="type">
            <option value="movie">Movie</option>
            <option value="tv-show">TV Show</option>
        </select>
        <br><br>

        <label>Featured?</label>
        <select name="featured">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br><br>

        <label>Small Poster Upload</label>
        <input type="file" name="smallPoster" id="smallPoster"> <br><br>

         <label>Large Poster Upload</label>
        <input type="file" name="largePoster" id="largePoster"> <br><br>

        <input type="submit" value="Add Tv Show">

    </form>

